<%- include('../partials/header') %>

<h2><%=title%></h2>

  <div>
   <img src="https://pinchandswirl.com/wp-content/uploads/2019/06/Carne-Asada-Burrito-square-image.jpg" alt="food">
  </div>
  <%- include('../partials/footer') %>