<%- include('../partials/header') %>
h2><%=title%></h2>
  	<h5>Photo of me:</h5>
  	<div class="fakeimg">Fake Image</div>
  	<p>Some things about me is that I graduated High School and enrolled at Year Up in the Software Development track</p>
  	
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Other Hobbies</h2>
  	<div class="fakeimg">Fake Image</div>
  	<p>I love to work on my project cars and go racing!</p>
  	

